@{
    ViewData["Title"] = "Área do Entregador";
}

<div class="text-center">
    <h1 class="display-4">Área do Entregador</h1>
    <hr />

    <div>
        <a asp-action="ProdutosDisponiveisParaEntrega">Produtos disponíveis para entrega</a><br>
        <hr />
        <a asp-action="ProdutosEmRotaDeEntrega">Produtos em rota de entrega (confirme a entrega)</a>
        <hr />
    </div>
</div>
