@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/logo_home.png" alt="sale" width="320" height="100">
<div class="text-center img">
    <a asp-area="" asp-controller="ProdutosDisponiveis" asp-action="Index">
        <img src="~/images/img_home.jpg" alt="sale">
    </a>
</div>
