@{
    ViewData["Title"] = "Área Administrativa";
}

<div class="text-center">
    <h1 class="display-4">Relatórios</h1>
    <hr />
    <div>
        <a asp-action="TotVendPeriodo">Total de vendas em um determinado período</a>
        <hr />
    </div>
    <div>
        <a asp-action="NumVendEntreguesPeriodo">Numero total de vendas entregues em um determinado período</a>
        <hr />
    </div>
    <div>
        <a asp-action="NumBloqPeriodo">Total de vendas Bloqueadas em um determinado período</a>
        <hr />
    </div>
    <div>
        <a asp-action="NumeroAnunciosPorPeriodo">Total de Anuncios em um determinado período</a>
        <hr />
    </div>
    <div>
        <a asp-action="Create">Adicionar uma nova categoria</a>
        <hr />
    </div>
</div>
