@model SecondHandWeb.Models.TotalVendaPorPeriodoViewModel

@{
    ViewData["Title"] = "Total de Vendas de um determinado Periodo";
}

<h1>Total vendas de um determinado Periodo</h1>

<form asp-controller="ADM" asp-action="TotVendPeriodo" method="get">
    <p>
        <div class="form-group">
            <label asp-for="dtIni" class="control-label"></label>
            <input asp-for="dtIni" class="form-control" />
            <span asp-validation-for="dtIni" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="dtFim" class="control-label"></label>
            <input asp-for="dtFim" class="form-control" />
            <span asp-validation-for="dtFim" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Procurar" class="btn btn-primary" />
        </div>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numVendasPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorVendasPeriodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.numVendasPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.valorVendasPeriodo)
            </td>
        </tr>

    </tbody>
</table>

<a asp-action="Index">Voltar</a>

